body {
    margin: 0;
    padding: 0;
    font-family: arial;
    overflow-x: hidden;

}


.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    
}

.navbar {

    display: flex;
    justify-content: end;
    background-color: #F85606;
    width: 1228px;
    height: 25px;

}


.nav-links a { 
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: 0px 37px 0px 0px; 
    
}

.nav-links a:hover {
    color: grey;
}

.logo-section {
    display: flex;
    align-items: center; 
    background-color: #F85606;
    width: 1188px;
    padding:10px 20px;
    gap: 20px;
    height: 81px;
}

.logo img {
    margin-top: 8px;
    width: 127px;
    height: 40px;
}

.search-section {
    display: flex;
    margin-left: 60px;
    box-sizing: border-box;
    border: none;

}

.search-bar input {
    height: 20px;
    width: 688px;
    padding: 13px 19px;
    border-radius: 3px;
    border: none;
    margin-top: 8px;
}

.search-btn {
    display: flex;
    margin-top: 5px;

}

.search-btn i {

    background-color: #FFE1D2;
    height: 31px;
    width: 43px;
    margin: 4px 0px 4px -62px;
    color: #F85606;
    padding-top: 14px;

}

.cart i {
    display: flex;
    color: white;
    margin: 27px 0px 0px 46px;
    height: 30px;
    width: 30px;

}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-section img {
    width: 988px;
    height: 344px;
}

.banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-section img {
    margin-top: 16px;
    width: 1103px;
    height: 170px;
}

.item-heading {
    display: flex;
    margin: 16px 15px;

}

.item-heading span {
    font-size: 22px;
    color: #424242;

}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    box-sizing: border-box;
    width: 1188;
    height: 61px;
    background-color: whitesmoke;
    color: #F85606;
    border-bottom: 1px solid grey;}

    .item-container1 p,
 .item-container2 a {
        margin: 0;
    }


    .item-container1 p {
        font-size: 14px;
        font-weight: bold;
    }


    .item-container2 a {
        display: inline-block;
        padding: 6px 12px;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        border: 1px solid #F85606;
        color: #F85606;


    }

    .card-items {
        width: 1200px;
        height: 290px;
        display: flex;
        flex-wrap: wrap;
        background-color:whitesmoke;
        overflow: hidden;

    }

    .card {
        display: flex;
        flex-direction: column;
        width: 186px;
        height: 290px;
        margin-right: 12px;
    }

    .card:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .card img{
        height:188px ;
        width:188px ;
        margin: 0;
        padding: 0;
    }

    .card span{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 172px;
        height: 36px;
        color:black;
    }

    .card p{
        display: flex;
        align-content: center;
        justify-content: center;
        width: 172px;
        height: 22px;
        color:#F85606;
    }

    .category-heading{
        display: flex;
        margin:16px 70px;
        background-color: whitesmoke;
    
    }

    .category-heading span {
    font-size: 22px;
    color: #424242;
    }

    .category-content{
        display: flex;
        background-color: whitesmoke;
        width: 1200px;
        flex-wrap: wrap;
        margin-left: 77px;

    }


    .items{
         display: flex;
         flex-direction: column;
         align-items: center;
        border-right: 1px solid #e2e2e2;
        border-bottom:1px solid #e2e2e2;
        box-sizing: border-box;
        height: 134px;
        padding-top: 16px;
        width: 149px;
    }

    .items:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }

    .items img{
        
        width: 80px;
        height: 72px;

    }

    .items span{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px 12px 0px;
        height:36px ;
        color: #212121;
        font-size: 14px;
        line-height: 18px;
    }

    .first-footer{
        display: flex;
        margin-left:76px;
        width: 1206px;
        height: 318px;
        background-color: whitesmoke;
        margin-top: 30px;
    }

    .box1{
        margin-top: 40px;
     color: #0f136d;
     display: flex;
     flex-direction: column;
     margin-left:43px;
    }

    .box1 h3{
        
        font-size: 16px;
        height: 10px;
        width: 297px;
    }

    .box1 a{
        text-decoration: none;
        font-size: 12px;
        font-weight: 300;
    }

    .box1 a:hover{
        text-decoration:underline #0f136d;
    }
    
    .box2{
    margin-top: 40px;
     color: #0f136d;
     display: flex;
     flex-direction: column;
     margin-left:15px;
    }


     .box2 h3{
        
        font-size: 16px;
        height: 10px;
        width: 297px;
    }

      .box2 a{ 
        text-decoration: none;
        font-size: 12px;
        font-weight: 300;
    }

    .box3{
        margin-top: 50px;
        
    }

    .icon-daraz{
        display: flex;
        align-items: center;
        gap: 15px;

    }

    .icon-daraz img{
        display: flex;
        flex-direction: column;
        width: 60px;
        height: 60px;
    }
      
    
    

    .text-1 h4{
        display: flex;
        flex-direction: column;
        margin:0;
        font-size: 16px;
        color:#F85606;
    }

    .text-2 p{
        display: flex;
        flex-direction: column;
        margin: 0;
        font-size: 14px;
        color: #0f136d;
    }

    .daraz-footer{
        display: flex;
        flex-wrap: wrap;
        width: 290px;
        gap:5px;
        margin: 0;
        padding: 0;
        
    }

    .store{
        display: flex;
        justify-content: left;
        width: 126px;
        height: 42px;
        margin:1px 0px 0px 20px ;
        
    }
    
    .third{
        margin-top:5px;
    }


   




    
    
    
     