body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}



/* navbar section */

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #F85606;
    height: 28px;
    width: 1200px;

}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 81px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin: 5px 10px;
}

.hamburger {
    cursor: pointer;
    font-size: 24px;
    color: white;
}

/* logo section */

.logo-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #F85606;
    gap: 10px;
    height: 46px;
    width: 1200px;

}

.logo img {
    width: 120px;
    margin-left: 20px;
}

.search-section {
    display: flex;
    justify-content: center;

}

.search-bar input {
    height: 16px;
    width: 541px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.search-bar i {
    color: #FFE1D2;



}

.cart i {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

/* hero section */

.hero-section {
    display: flex;
    justify-content: center;

}


.hero-section img {
    width: 100%;
    height: auto;
    max-width: 988px;
}

/* .banner-section */

.banner-section {
    display: flex;
    justify-content: center;
}


.banner-section img {

    height: auto;
    margin-top: 10px;
    width: 1200px;
}


/*flash sale header */

.item-heading {
    display: flex;
    justify-content: flex-start;
    margin: 12px 34px;
}

.item-heading span {
    font-size: 20px;
    font-weight: bold;
}

/* flash sale bar*/

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    border-bottom: 1px solid #ccc;
    height: 61px;

}

.item-container1 {
    margin: 12px 34px;
}

.item-container2 {

    border-radius: 2px;
    display: flex;
}

.item-container2 a {
    margin-top: 13px;
    color: #F85606;
    padding: 4px 5px;
    border: 1px solid #F85606;
    text-decoration: none;
    font-weight: 500;

}

/* card items*/

.card-items {

    height: 290px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
    overflow: hidden;
    margin-top: 10px;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 290px;

}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img {

    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    max-width: 188px;
}

.card span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 172px;
    height: 36px;
    color: black;
}

.card p {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 172px;
    height: 22px;
    color: #F85606;
}




/* category section */

.category-heading {
    font-size: 22px;
    margin-left: 35px;
}

.category-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    padding: 1px;


}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    box-sizing: border-box;
    height: 134px;
    padding-top: 16px;
    width: 148px;
}

.items:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.items img {

    width: 80px;
    height: 72px;

}

.items span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 12px 0px;
    height: 36px;
    color: #212121;
    font-size: 14px;
    line-height: 18px;
}


/* footer*/

.first-footer {
    display: flex;
    height: 318px;
    background-color: whitesmoke;
    margin-top: 30px;
    flex-wrap: wrap;

}


.box1 {
    margin-top: 40px;
    color: #0f136d;
    display: flex;
    flex-direction: column;
    margin-left: 43px;
}

.box1 h3 {

    font-size: 16px;
    height: 10px;
    width: 297px;
}

.box1 a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
}

.box1 a:hover {
    text-decoration: underline #0f136d;
}

.box2 {
    margin-top: 40px;
    color: #0f136d;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}


.box2 h3 {

    font-size: 16px;
    height: 10px;
    width: 297px;
}

.box2 a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
}

.box3 {
    margin-top: 50px;

}

.icon-daraz {
    display: flex;
    align-items: center;
    gap: 15px;

}

.icon-daraz img {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 60px;
}

.text-1 h4 {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 16px;
    color: #F85606;
}

.text-2 p {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 14px;
    color: #0f136d;
}

.daraz-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 297px;
    gap: 5px;
    flex-wrap: wrap;


}

.store {

    width: 126px;
    margin: 1px 0px 0px 20px;

}

.third {
    margin-top: 5px;
}


/* Responsive */

@media (max-width: 1200px) {
    .nav-links {
        margin-right: 40px;
    }

    .search-bar input {
        width: 450px;
    }

    .banner-section img {
        width: 1000px;
    }

    .hero-section img {
        max-width: 900px;
    }

    .first-footer {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box1,
    .box2,
    .box3 {
        margin-left: 20px;
    }

    .daraz-footer {
        width: 250px;
    }
}

@media (max-width: 992px) {
    .search-bar input i {
        display: flex;
        justify-content: center;
        width: 350px;
    }


    .logo img {
        width: 110px;
    }

    .banner-section img {
        width: 850px;
    }

    .hero-section img {
        max-width: 750px;
    }

    .box1,
    .box2 {
        width: 45%;
        margin-left: 15px;
    }

    .box3 {
        width: 100%;
        margin-left: 15px;
    }

    .daraz-footer {
        width: 200px;
    }
}

@media (max-width: 846px) {
    .banner-section {
        display: none;
    }

    .hero-section {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 768px) {

    .nav-links {
        display: none;
    }


    .hero-section {
        display: flex;
        justify-content: center;
    }

    .hamburger {
        display: block;
    }

    .search-bar input {
        width: 250px;
    }

    .logo img {
        width: 100px;
    }

    .banner-section img {
        width: 100%;
        padding: 0 10px;
    }

    .hero-section img {
        width: 100%;
        max-width: 100%;
        padding: 0 10px;
    }

    .box1,
    .box2,
    .box3 {
        width: 100%;
        margin-left: 20px;
        justify-content: center;
    }

    .icon-daraz {
        justify-content: flex-start;
    }

    .daraz-footer {
        width: 100%;
    }
}


@media (max-width: 600px) {

    .search-bar input {
        width: 170px;
    }

    .cart i {
        font-size: 18px;
    }

    .logo img {
        width: 90px;
    }

    .banner-section img {
        width: 100%;
        padding: 0 10px;
    }

    .hero-section img {
        width: 100%;
        padding: 0 10px;
    }

    .box1 h3,
    .box2 h3 {
        font-size: 14px;
    }

    .box1 a,
    .box2 a {
        font-size: 11px;
    }

    .icon-daraz img {
        width: 50px;
        height: 50px;
    }

    .text-1 h4 {
        font-size: 14px;
    }

    .text-2 p {
        font-size: 12px;
    }

    .store {
        width: 100px;
    }
}